    <footer>
        Reply via <a href="mailto:erikjohannes@protonmail.com">email</a>.
        Subscribe with <a href="index.xml">RSS</a>.
        <br />
		No tracking. No cookies. No visit logs.
        <br />
        &copy;2018-2025 Erik Johannes Husom.
    </footer>
