    <head>
        <meta charset="UTF-8" />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <meta name="author" content="Erik Johannes Husom" />
        <meta name="description" content="Personal website." />
        <title>Erik Johannes Husom</title>
        <base href="https://erikjohannes.no/">
        <!-- <base href="file:///Users/erikjohannes/Documents/erikjohannesno/"> -->
        <!-- <base href="file:///home/erikhu/Documents/erikjohannesno/"> -->
        
        <link rel="icon" href="data:,">
        <link href="style.css" rel="stylesheet" type="text/css" title="Stylesheet">
        <link rel="alternate" type="application/rss+xml" href="/index.xml" title="RSS Feed">
    </head>
