
	<!-- <p> -->
	<!-- Welcome to my website – my profile page and place for sharing in the digital sphere. -->
	<!-- </p> -->
	<p>
	<!-- I'm a Norwegian with a passion for running, skiing, climbing, and general movement in the mountains. -->
	<!-- I work as a research scientist in the domain of artificial intelligence, and care deeply about humane and sustainable use of technology. -->
	I'm a research scientist in the domain of artificial intelligence, and care deeply about humane and sustainable use of technology.
	For professional inquiries, see <a href="work.html">Work</a>. 
	Otherwise, reach me at <a href="mailto:erikjohannes@protonmail.com">erikjohannes@protonmail.com</a>.
	</p>
    <!-- <p>Research scientist in the domain of artificial intelligence, with a passion for running, skiing, climbing and any form of movement taking place in the mountains.</p> -->

	<p style="text-align:center;">
		<a href="about.html">About</a>
		| <a href="photos/index.html">Photos</a>
		| <a href="posts/index.html">Writing</a>
		| <a href="work.html">Work</a>
		| <a href="more.html">More</a>
		<!-- | <a href="projects.html">Software projects</a> -->
		<!-- | <a href="bookmarks.html">Bookmarks</a> -->
		<!-- | <a href="now.html">Now</a> -->
	</p>
	
	<!-- <ul> -->
	<!-- 	<li><a href="photos/index.html">Photos</a></li> -->
	<!-- 	<li><a href="posts/index.html">Writing</a></li> -->
	<!-- 	<li><a href="work.html">Work</a></li> -->
	<!-- 	<li><a href="projects.html">Projects</a></li> -->
	<!-- 	<li><a href="bookmarks.html">Bookmarks</a></li> -->
	<!-- </ul> -->
