	<p>
	Velkommen til mitt hjørne av internett.
	</p>
	<p>
	Jeg har en lidenskap for løping, skikjøring, klatring og generell bevegelse i fjellet.
	Jeg jobber som forsker innefor kunstig intellingens, og er spesielt opptatt av human og bærekraftig bruk av teknologi.
	For jobbrelaterte forespørsler, se <a href="work.html">Arbeid</a>. 
	Ellers, ta kontakt på <a href="mailto:erikjohannes@protonmail.com">erikjohannes@protonmail.com</a>.
	</p>

	<p style="text-align:center;">
		<a href="photos/index.html">Bilder</a>
		| <a href="posts/index.html">Blogg</a>
		| <a href="work.html">Arbeid</a>
		| <a href="projects.html">Programvareprosjekter</a>
		| <a href="bookmarks.html">Bokmerker</a>
	</p>
