    <h2>Projects</h2>

    <h3><a href="https://peakbase.app">Peakbase</a></h3>

    <a href="https://peakbase.app">Peakbase</a> is a simple tool for collecting the mountain summits you have ascended.
    I made it primarily because I wanted a simple way of visualizing the peaks I have visited, and the peaks that I want to visit, instead of just listing them in a spreadsheet.

    <h3><a href="vetjournal.html">VetJournal</a></h3>

    <a href="vetjournal.html">VetJournal</a> is an Electronic Health Record (EHR) software system tailored for veterinarians.
    I made it to provide a simple and cheap solution as an alternative to the very expensive systems that many veterinarians currently use.
